body 
{
	background-image: url(../photo/fwpp5.JPG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Verdana;
	text-align: center;
}

h1
{
	color: white;
	filter: drop-shadow(10px 5px 5px #fff);
	text-align: center;
}

form 
{
	background-color: rgba(207, 207, 207, 0.425);
	max-width: 500px;
	margin: 50px auto;
	padding: 30px 20px;
	border-radius: 0.50rem;
	filter:drop-shadow(10px 5px 5px #fff);
}

small 
{
	font-size: 12px;
	color: black;
}

.form-group 
{
	text-align: left;
	margin-bottom: 25px;
}

.form-group label 
{
	display: block;
	margin-bottom: 10px;
}

.form-group input,
.form-group select,
.form-group textarea 
{
	border: 1px solid #777;
	border-radius: 0.50rem;
	font-family: inherit;
	padding: 10px;
	display: block;
	width: 95%;
}

.form-container input[type="radio"],
.form-container input[type="checkbox"] 
{
	display: inline-block;
	width: auto;
}

button 
{
	border: 1px solid rgb(208, 208, 208);
	border-radius: 0.50rem;
	font-family: inherit;
	font-size: 21px;
	display: block;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}

#displayData
{
	margin-top: auto;
	text-align: center;
}

#displayData h2
{
	color: white;
	text-align: center;
	font-size: 16px;
}

#displayData p
{
	display: inline-table;
	margin-bottom: auto;
	color: white;
	filter: drop-shadow(10px 5px 5px rgb(255, 255, 255));
	border: 1px solid #fff;
}

#confirmationMessage
{
	color: #fff;
	filter: drop-shadow(10px 5px 5px #fff);
	font-size: 10px;
}

#confirmationMessage button
{
	font-size: 12px;
	cursor: pointer;
	background-color: black;
	color: white;
}

#confirmationMessage button:hover
{
	background-color: white;
	color: black;
}

.error 
{
	font: 1em sans-serif;
	font-size: 14px;
	color: red;
	display: block;
	margin-top: 5px;
}

.form-group input[type="submit"] 
{
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.form-group :hover[type="submit"]
{
	background-color: black;
	color: #fff;
}
