		body 
		{
			background-image: url(../photo/fwpp5.JPG);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			font-family: Verdana;
			text-align: center;
		}

		h1
		{
			color: white;
			filter: drop-shadow(10px 5px 5px #fff);
			text-align: center;
		}

		/* Styling the Form (Color, Padding, Shadow) */
		form 
		{
			background-color: rgba(207, 207, 207, 0.425);
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
			border-radius: 0.25rem;
			filter:drop-shadow(10px 5px 5px #fff);
		}

        small 
		{
            font-size: 12px;
            color: black;
        }
		/* Styling form-control Class */
		.form-control 
		{
			text-align: left;
			margin-bottom: 25px;
		}

		/* Styling form-control Label */ 
		.form-control label 
		{
			display: block;
			margin-bottom: 10px;
		}

		/* Styling form-control input, 
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea 
		{
			border: 1px solid #777;
			border-radius: 0.25rem;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}

		/* Styling form-control Radio 
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] 
		{
			display: inline-block;
			width: auto;
		}

		/* Styling Button */
		button 
		{
			border: 1px solid rgb(208, 208, 208);
			border-radius: 0.25rem;
			font-family: inherit;
			font-size: 21px;
			display: block;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
			cursor: pointer;
		}
		button:hover
		{
			background-color: black;
			color: #fff;
		}

		@media (width > 650px) and (width < 900px) 
		{
			
  		}

		@media (width < 650px) 
		{

  		}

	